
<div class="posts-chunk">
  <div class="col s12 m12 l9">
    <div class="card medium" id="home">
      <div class="card-image"><img class="image-responsive" src=<%= @images.sample %>><span class="card-title"><%= posts_chunk[0].title %><span class="card-tag">fashion</span></span></div>
    </div>
  </div>
  <div class="col s12 m12 l3">
    <div class="card medium" id="home">
      <div class="card-image"><img class="image-responsive" src=<%= @images.sample %>><span class="card-title"><%= posts_chunk[1].title %><span class="card-tag">fashion</span></span></div>
    </div>
  </div>
  <div class="col s12 m12 l5">
    <div class="card medium" id="home">
      <div class="card-image"><img class="image-responsive" src=<%= @images.sample %>><span class="card-title"><%= posts_chunk[2].title %><span class="card-tag">fashion</span></span></div>
    </div>
  </div>
  <div class="col s12 m12 l7">
    <div class="card medium" id="home">
      <div class="card-image"><img class="image-responsive" src=<%= @images.sample %>><span class="card-title"><%= posts_chunk[3].title %><span class="card-tag">fashion</span></span></div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card medium" id="home">
      <div class="card-image"><img class="image-responsive" src=<%= @images.sample %>><span class="card-title"><%= posts_chunk[4].title %><span class="card-tag">fashion</span></span></div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card medium" id="home">
      <div class="card-image"><img class="image-responsive" src=<%= @images.sample %>><span class="card-title"><%= posts_chunk[5].title %><span class="card-tag">fashion</span></span></div>
    </div>
  </div>
</div>