
<div class="row">
  <div id="posts-list"><% @posts.limit(6).each_with_index do |post, index| %>
    <div class="post-item"><div class="col s12 m12 l6 image-column <%= 'push-l6' if index % 2 == 1 %>">
<%= link_to post do %>
      <div class="post-image"><img class="responsive-img post-image <%= 'even' if index % 2 == 1 %>" src=<%= @images.sample %>></div><% end %>
</div>
<div class="col s12 m12 l6 text-column <%= 'pull-l6' if index % 2 == 1 %>">
      <div class="post-date"><%= post.published_at.to_date.to_formatted_s(:long_ordinal) %></div><%= link_to post do %>
      <h3 class="post-title"><%= post.title %></h3><% end %>
      <h5 class="post-subtitle"><%= post.subtitle %></h5><%= link_to post do %>
      <p class="more">More...</p><% end %>
</div>
    </div><% end %>
  </div>
</div>