
<div class="container">
  <div class="row" id="search-row">
    <div class="col s12 m12 l8 offset-l2">
      <div class="row">
        <div class="input-field col s12"><i class="prefix fa fa-search"></i>
          <input class="autocomplete" id="posts-search-input" type="text"/>
          <label for="posts-search-input">Search</label>
        </div>
      </div>
    </div>
  </div>
  <div id="posts-list"><% @posts.limit(6).each_with_index do |post, index| %>
    <div class="post-item"><div class="col s12 m12 l6 image-column <%= 'push-l6' if index % 2 == 1 %>">
<%= link_to post do %>
      <div class="post-image"><img class="post-image" src=<%= @images.sample %>></div><% end %>
</div>
<div class="col s12 m12 l6 text-column <%= 'pull-l6' if index % 2 == 1 %>">
      <div class="row col s12">
        <div class="post-date"><%= post.published_at.to_date.to_formatted_s(:long_ordinal) %></div>
      </div>
      <div class="row col s12"><%= link_to post do %>
        <h4 class="post-title"><%= post.title %></h4><% end %>
      </div>
      <div class="row col s12">
        <h6 class="post-subtitle"><%= post.subtitle %></h6>
      </div>
      <div class="row col s12"><%= link_to post do %>
        <p class="more">More...</p><% end %>
      </div></div>
    </div><% end %>
  </div>
</div>
<script>initialize_search()</script>