
<div class="slider" id="slider">
  <ul class="slides"><% @slider_posts.each_with_index do |slider_post, index| %>
    <li><img src=<%= @slider_images[index] %>>
      <div class="caption center-align">
        <h3 class="caption-title">	<%= slider_post.title %></h3>
        <h5 class="caption-subtitle"><%= slider_post.subtitle %></h5>
      </div>
    </li><% end %>
  </ul>
</div>
<div class="container">
  <div class="row"><% @posts.limit(6).each do |post| %>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image"><img src=<%= @images.sample %>><span class="card-tag">fashion</span><span class="card-title"><%= post.title %></span><span class="card-content">
            <p><%= post.subtitle %></p></span></div>
      </div>
    </div><% end %>
  </div>
</div>
<div class="row">
  <div class="parallax-container">
    <div class="parallax"><img src="placeholders/clown.gif"/></div>
  </div>
</div>
<div class="container">
  <div class="row"><% @posts.limit(6).each do |post| %>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image"><img src=<%= @images.sample %>><span class="card-tag">fashion</span><span class="card-title"><%= post.title %></span><span class="card-content">
            <p><%= post.subtitle %></p></span></div>
      </div>
    </div><% end %>
  </div>
</div>
<div class="row">
  <div class="parallax-container">
    <div class="parallax"><img src="placeholders/clown.gif"/></div>
  </div>
</div>
<div class="container">
  <div class="row"><% @posts.limit(6).each do |post| %>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image"><img src=<%= @images.sample %>><span class="card-tag">fashion</span><span class="card-title"><%= post.title %></span><span class="card-content">
            <p><%= post.subtitle %></p></span></div>
      </div>
    </div><% end %>
  </div>
</div>