
<div class="slider" id="slider">
  <ul class="slides"><% @slider_posts.each_with_index do |slider_post, index| %>
    <li class="slide"><%= link_to slider_post do %>
<img src=<%= @slider_images[index] %>>
      <div class="slide-mask"></div>
      <div class="caption center-align">
        <h3 class="caption-title">	<%= slider_post.title %></h3>
        <h5 class="caption-subtitle"><%= slider_post.subtitle %></h5>
      </div><% end %>
    </li><% end %>
  </ul>
</div><% if @posts.length > 6 %>
<% @posts.each_slice(6).with_index do |posts_chunk, index| %>
<div class="container"><%= render 'blog_posts/posts_chunk', posts_chunk: posts_chunk %></div><% if posts_chunk.length == 6 %>
<div class="row">
  <div class="parallax-container">
    <div class="parallax"><img src=<%= @paralax_images.sample.url %>></div>
  </div>
</div><% end %>
<% end %>
<% else %>
<div class="container"><%= render 'blog_posts/posts_chunk', posts_chunk: @posts %></div><% end %>