
<div class="row" id="news-row">
  <div class="container">
    <h2>Latest News</h2>
    <div class="col s12 m12 l3 push-l8 offset-l1">
      <div id="calendar">
        <div class="clndr-controls">
          <div class="clndr-previous-button">‹</div>
          <div class="month"></div>
          <div class="clndr-next-buttons">›</div>
        </div>
        <div class="clndr-grid">
          <div class="days-of-the-week"></div>
        </div>
        <div class="divider"></div>
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l8 pull-l4">
      <div id="news-index"><% @news.each do |news_item| %>
        <div class="news-post">
          <h6 class="date"><%= news_item.published_at.to_date.to_formatted_s(:long_ordinal) %></h6><%= link_to news_item do %>
          <h4 class="title"><%= news_item.title %></h4><% end %>
          <div class="image"><img class="responsive-img" src=<%= @images.sample %>></div>
          <div class="content">
            <p><%= news_item.body %></p>
          </div>
          <div class="footer">
            <div class="read-more-span col s4 hide-on-small-only m4 l4 push-m4 push-l4"><%= link_to news_item, class: 'read-more' do %> Read More <% end %></div>
            <div class="comments col s6 m4 l4 pull-m4 pull-l4">
              <p>0 comments</p>
            </div>
            <div class="social col s6 m4 l4 right-align"><a class="waves-effect waves-custom" href="#/"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="waves-effect waves-custom" href="#/"><i class="fa fa-twitter" aria-hidden="true"></i></a><a class="waves-effect waves-custom" href="#/"><i class="fa fa-tumblr" aria-hidden="true"></i></a></div>
          </div>
        </div><% end %>
      </div><%= will_paginate @news %>
    </div>
  </div>
</div>
<script>initialize_calendar();</script>