
<div class="row">
  <div class="container">
    <div class="col l10 m12 s12 offset-l1">
      <article id="posts-show">
        <h2 id="post-title"><%= @news.title %></h2>
        <h4 id="post-subtitle"><%= @news.subtitle %></h4>
        <div class="post-image-container"><img class="responsive-img post-image materialboxed" width="650" src=<%= @images.sample %>></div>
        <div id="post-content">
          <p><%= @news.body %></p>
          <p><%= Faker::Hipster.paragraph %></p>
          <div class="post-image-container"><img class="responsive-img post-image materialboxed" width="650" src=<%= @images.sample %>></div>
          <p><%= Faker::Hipster.paragraph %></p>
          <div class="post-image-container"><img class="responsive-img post-image materialboxed"  width="650" src=<%= @images.sample %>></div>
          <p><%= Faker::Hipster.paragraph(2) %></p>
          <div class="post-image-container"><img class="responsive-img post-image materialboxed" width="650" src=<%= @images.sample %>></div>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="divider end-of-post"></div>
<div class="container"><%= render 'blog_posts/related_posts', post: @news %>
  <div class="row">
    <div id="disqus_thread"></div>
    <script>
      $(document).on('turbolinks:load', function () {
      	$('.materialboxed').materialbox();
      
      	var disqus_config = function () {
      	this.page.url = "<%= request.original_url %>";
      	this.page.identifier = "<%= @news.id %>";
      	};
      
      	(function() { // DON'T EDIT BELOW THIS LINE
      	var d = document, s = d.createElement('script');
      	s.src = '//gat0rama.disqus.com/embed.js';
      	s.setAttribute('data-timestamp', +new Date());
      	(d.head || d.body).appendChild(s);
      	})();
      });
    </script>
    <noscript>Please enable JavaScript to view the<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>